workflow_saida_entrega.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pedido-entregar",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "e98e4f1f-4d32-40f4-90f7-33e143890a9b",
      "name": "Webhook Saída Entrega",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        220,
        200
      ],
      "webhookId": "pedido-entregar-12345"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"CARRINHOS\" SET status = 'ENTREGAR', atualizado_em = now() WHERE id = {{$json.body.carrinho_id}} RETURNING cliente_id;"
      },
      "id": "c1f7b707-1b03-49fb-856c-0e7555eb393b",
      "name": "Atualiza DB e Pega Cliente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        440,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Postgres local"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT telefone, nome FROM \"CLIENTES\" WHERE id = {{$json.cliente_id}};"
      },
      "id": "d2f7b707-1b03-49fb-856c-0e7555eb393b",
      "name": "Pega Telefone Cliente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        660,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Postgres local"
        }
      }
    },
    {
      "parameters": {
        "url": "SUA_API_DO_WHATSAPP_AQUI",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"numero\": \"{{$json.telefone}}\",\n  \"mensagem\": \"Olá {{$json.nome}}! 🚚 O seu pedido saiu para entrega! O entregador responsável é o(a) {{$node['Webhook Saída Entrega'].json.body.entregador}}.\"\n}",
        "options": {}
      },
      "id": "f3f7b707-1b03-49fb-856c-0e7555eb393b",
      "name": "Dispara WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        880,
        200
      ],
      "notesInFlow": true,
      "notes": "Configure a sua URL do WhatsApp Aqui (Z-API, Evolution, etc.)"
    }
  ],
  "connections": {
    "Webhook Saída Entrega": {
      "main": [
        [
          {
            "node": "Atualiza DB e Pega Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza DB e Pega Cliente": {
      "main": [
        [
          {
            "node": "Pega Telefone Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega Telefone Cliente": {
      "main": [
        [
          {
            "node": "Dispara WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
